body{
    margin-top: 100px;
    background-image: url("image/light-green-yellow.jpg");
    color:darkgreen;
}

#form{
    width: 50%; 
    margin: 0 auto;
}

#table{
    width: 100%;
}

#textarea{
    width: 95%;
    height: 100px;
    resize: none;
    padding: 5px 10px 5px 5px;
}

.frame{
    background-color:rgb(252, 251, 197);
    padding: 5px;
}

.label{
    width: 30%;
    text-align: left;
}