*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
#lists {
    position: relative;
    margin-top: 400px;
    padding: 10px;
    width: 200px;
    font-size: large;
    list-style:none;
    float: left;   
}

.list{
    padding: 10px;
    border: 1px solid black ;
    border-radius: 5px ;
    box-shadow: 1px 1px 1px;
    text-align: center;
    background-color: greenyellow
}


#lists li:hover{
    transition: all 0.3s;
    background-color:rgb(9, 146, 9);
    color: white;
    box-shadow: 3px 3px 5px;
}

#background_image{
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;   
}

header{
    background-color: rgb(9, 146, 9);
    width: 100%;
    height: 50px;
    position: absolute;
}

.menu{
    list-style-type: none;
    list-style-position: inside;
    height: 50px;
}

.menu li{
    display: inline-block;
    margin-right: 30px;
    height: 50px;
    line-height: 50px;
    width: 80px;
    text-align: center;
}

.menu_left{
    direction: ltr;
    position: absolute;
    left: 20px;
}

.menu li:hover{
    background-color: rgb(99, 163, 1);
    transition: all 0.5s;
}

.counter{
    background-color: #aaa;
    border: 1px solid #bbb;
    width: 960px;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
    margin-right: 200px;
}

.header_counter{
    height: 30px;
    background-color:white;
    position: relative;
}

.product_box{
    border: 1px solid #bbb;
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
}


.image_text{
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid black;
}

.product_text{
    text-align: center;
    padding: 5px;
}

.product_text span:first-child{
    text-decoration: line-through;
}